<a href="https://colab.research.google.com/github/divya-sharma-28/python-fundamentals/blob/main/PythonPracticeAddition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Using the "+" Operator
a = 15
b = 12
result = a + b
print(result)

27

In [ ]:
# Using user input
a = input("Enter first number: ")
b = input("Enter second number: ")
result = float(a) + float(b)
print(result)

Enter first number: 12
Enter second number: 13
25.0

In [ ]:
# Using Function
def add(a,b):
  return float(a) + float(b)

a = input("Enter first number: ")
b = input("Enter second number: ")
result1 = add(a,b)
print(result1)

c = input("Enter first number: ")
d = input("Enter second number: ")
result2 = add(c,d)
print(result2)

Enter first number: 11
Enter second number: 22
33.0
Enter first number: 33
Enter second number: 44
77.0

In [ ]:
# Using Lambda Function
lambdaFun = lambda a,b : float(a) + float(b)
print(lambdaFun(15,12))

27.0

In [ ]:
# Using operator.add
import operator
print(operator.add(15,12))

27

In [ ]:
# Using sum()
print(sum([13,13,32]))

58